# ansible/roles/backend/tasks/main.yml
- name: Ensure Node.js is installed and running
  ansible.builtin.dnf:
    name: nodejs
    state: installed

- name: Disable default nodejs version
  ansible.builtin.shell: dnf module disable nodejs -y

- name: Install specific Node.js version
  ansible.builtin.shell: dnf module install nodejs:20 -y

- name: Clean the old Backend Content
  ansible.builtin.file:
    path: /app
    state: absent

- name: Create Backend App Directory
  ansible.builtin.file:
    path: /app
    state: directory
    mode: '0755'

- name: Copy Backend Application Files
  ansible.builtin.unarchive:
    src: https://expense-artifacts.s3.amazonaws.com/{{ app_name }}.zip
    dest: /app
    remote_src: yes

- name: Install Backend Application Dependencies
  ansible.builtin.shell: npm install
  path: /app
  state: latest

- name: copy backend service file
  ansible.builtin.copy:
    src: expense-backend.service
    dest: /etc/systemd/system/expense-backend.service

- name: install mysql-client
  ansible.builtin.dnf:
    name: mysql
    state: present

- name: install python mysql
  ansible.builtin.dnf:
    name: 
      - PyMySQL
      - cryptography
    executable: pip3.9

- name: load schema
  community.mysql.mysql_db:
    state: import
    name: expenseapp
    target: /app/db/schema.sql
    login_user: root
    login_password: ExpenseApp@1
    login_host: localhost

- name: Start and Enable Backend Service
  ansible.builtin.systemd:
    name: expense-backend
    state: restarted
    enabled: yes
    daemon_reload: yes

