- name: Install the latest version of Nginx
  hosts: webservers
  become: yes
  tasks:
  - name: Ensure Nginx is installed and running
    ansible.builtin.dnf:
      name: nginx
      state: latest
    ansible.builtin.systemd_service:
      name: nginx
      enabled: true
      state: started
  