- name: Install the latest version of Nginx
  ansible.builtin.dnf:
    name: nginx
    state: latest
  ansible.builtin.systemd_service:
    enabled: true
    name: nginx
  ansible.builtin.systemd_service:
    state: started
    name: nginx
  