- name: Install the latest version of Nginx
  hosts: webservers
  become: yes
  tasks:
    - name: Ensure Nginx is installed and running
      ansible.builtin.dnf:
        name: nginx
        state: latest
    - name: Ensure Nginx service is enabled and started
      ansible.builtin.systemd_service:
        name: nginx
        enabled: true
        state: started
    - name: Clean the old Content
      ansible.builtin.file:
        path: /usr/share/nginx/html
        state: absent
    - name: Create App Directory
      ansible.builtin.file:
        path: /usr/share/nginx/html
        state: directory
    - name: Download and Extract App Content
      ansible.builtin.unarchive:
        src: https://expense-artifacts.s3.amazonaws.com/expense-frontend-v2.zip
      dest: /usr/share/nginx/html
      remote_src: yes